
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 0;
    box-sizing: border-box;
    font-family: poppins, roboto, sans-serif;
}
.avator{
    width: 80px;
    border-radius: 50%;
    border: 4px solid #003554;
    margin-top: 10px;
}

.hero-text{
    font-size: 1.3rem;
}

h1{
    font-family: roboto, sans-serif;
    font-size: 2rem;
    overflow-y: hidden;
}

h5{
    font-size: 14px;
}

.navbar-nav .btn{
    border: none;
    align-self: center;
}

.row{
    justify-content: center;
}

.project-img{
    width: 250px;
    height: 150px;
    border: none;
    border-radius: 10px;
}

label{
    font-size: 20px;
}

a.viewButton{
    background-color:#003554;
}


/* Blog Posts */
.blogs-text{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #003554;
    line-height: 1.6;
}

h4{
    font-size: 12px;
}










