
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 0;
    box-sizing: border-box;
    font-family: Merriweather, poppins, roboto, sans-serif;
}
.avator{
    width: 70px;
    border-radius: 50%;
    border: 4px solid black;
    margin-top: 10px;
}
.greeting{
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-text{
    font-size: 1rem;
    text-align: left;
    font-family: poppins, sans-serif;
    color: rgb(11, 2, 2);
}

.hero-img{
    border-radius: 30px;
    width: 570px;
    height: 440px;
}

h1{
    font-family: poppins, sans-serif;
    font-size: 12px;
    overflow-y: hidden;
    
}

h5{
    font-size: 0.8rem;
    font-family: poppins, sans-serif;
    overflow-y: hidden;
}

.navbar-nav .btn{
    border: none;
    align-self: center;
}

.row{
    justify-content: center;
}

.project-img{
    width: 370px;
    height: 155px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blogs-img{
    width: 370px;
    height: 155px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.projects{
    font-family: poppins, sans-serif;
}

label{
    font-size: 20px;
}

a.viewButton{
    background-color: black;
    color: white;
}


/* Blog Posts */
.blogs-text{
    font-size: 0.8rem;
    font-family: poppins, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #003554;
    line-height: 1.6;
}

.tech-stack{
    margin-top: 20px;
    align-items: center;
}

.tech-stack img{
    margin-right: 25px;

}

.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }












